<!-- Load javascripts at bottom, this will reduce page load time -->
    <!-- BEGIN CORE PLUGINS (REQUIRED FOR ALL PAGES) -->
    <!--[if lt IE 9]>
    <script src="assets/plugins/respond.min.js"></script>  
    <![endif]-->
    <script src="{{ url_for('static', filename='assets/plugins/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/jquery-migrate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/corporate/scripts/back-to-top.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>

    <!-- END CORE PLUGINS -->

    <!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->

    <script src="{{ url_for('static', filename='assets/plugins/fancybox/source/jquery.fancybox.pack.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/owl.carousel/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/zoom/jquery.zoom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/bootstrap-touchspin/bootstrap.touchspin.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/corporate/scripts/layout.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/pages/scripts/bs-carousel.js') }}"></script>


    <script type="text/javascript">
        jQuery(document).ready(function() {
            Layout.init();    
            Layout.initOWL();
            Layout.initImageZoom();
            Layout.initTouchspin();
            Layout.initTwitter();
        });
    </script>
    <!-- END PAGE LEVEL JAVASCRIPTS -->